@charset "utf-8";
/** size css [START] **/

/** 01. width **/
/** 01-1 width pixel **/
.wa { width:auto !important ; }
.w1 { width:1px !important ; }
.w2 { width:2px !important ; }
.w3 { width:3px !important ; }
.w4 { width:4px !important ; }
.w5 { width:5px !important ; }
.w6 { width:6px !important ; }
.w7 { width:7px !important ; }
.w8 { width:8px !important ; }
.w9 { width:9px !important ; }
.w10 { width:10px !important ; }
.w20 { width:20px !important ; }
.w30 { width:30px !important ; }
.w40 { width:40px !important ; }
.w50 { width:50px !important ; }
.w60 { width:60px !important ; }
.w62 { width:62px !important ; }
.w65 { width:65px !important ; }
.w70 { width:70px !important ; }
.w79 { width:79px !important ; }
.w80 { width:80px !important ; }
.w85 { width:85px !important ; }
.w90 { width:90px !important ; }
.w95 { width:95px !important ; }
.w96 { width:96px !important ; }
.w97 { width:97px !important ; }
.w98 { width:98px !important ; }
.w99 { width:99px !important ; }
.w100 { width:100px !important ; }
.w110 { width:110px !important ; }
.w120 { width:120px !important ; }
.w130 { width:130px !important ; }
.w140 { width:140px !important ; }
.w150 { width:150px !important ; }
.w155 { width:155px !important ; }
.w160 { width:160px !important ; }
.w170 { width:170px !important ; }
.w180 { width:180px !important ; }
.w190 { width:194px !important ; }
.w200 { width:200px !important ; }
.w205 { width:205px !important ; }
.w210 { width:210px !important ; }
.w215 { width:215px !important ; }
.w220 { width:220px !important ; }
.w230 { width:230px !important ; }
.w240 { width:246px !important ; }
.w250 { width:250px !important ; }
.w260 { width:260px !important ; }
.w270 { width:270px !important ; }
.w280 { width:280px !important ; }
.w286 { width:286px !important ; }
.w290 { width:290px !important ; }
.w300 { width:300px !important ; }
.w310 { width:310px !important ; }
.w340 { width:340px !important ; }
.w350 { width:350px !important ; }
.w370 { width:370px !important ; }
.w379 { width:379px !important ; }
.w380 { width:380px !important ; }
.w381 { width:381px !important ; }
.w382 { width:382px !important ; }
.w383 { width:383px !important ; }
.w384 { width:384px !important ; }
.w385 { width:385px !important ; }
.w386 { width:386px !important ; }
.w387 { width:387px !important ; }
.w388 { width:388px !important ; }
.w389 { width:389px !important ; }
.w390 { width:390px !important ; }
.w400 { width:400px !important ; }
.w450 { width:450px !important ; }
.w470 { width:470px !important ; }
.w500 { width:500px !important ; }
.w515 { width:515px !important ; }
.w555 { width:555px !important ; }
.w600 { width:600px !important ; }
.w610 { width:610px !important ; }
.w620 { width:620px !important ; }
.w630 { width:630px !important ; }
.w650 { width:650px !important ; }
.w670 { width:670px !important ; }
.w700 { width:700px !important ; }
.w730 { width:730px !important ; }
.wauto { width: auto !important ; }

/** 01-2 width % css **/
.w1p { width:1% !important ; }
.w2p { width:2% !important ; }
.w3p { width:3% !important ; }
.w4p { width:4% !important ; }
.w5p { width:5% !important ; }
.w6p { width:6% !important ; }
.w7p { width:7% !important ; }
.w8p { width:8% !important ; }
.w9p { width:9% !important ; }
.w10p { width:10% !important ; }
.w15p { width:15% !important ; }
.w16p { width:16% !important ; }
.w17p { width:17% !important ; }
.w18p { width:18% !important ; }
.w20p { width:20% !important ; }
.w22p { width:22% !important ; }
.w23p { width:23% !important ; }
.w25p { width:25% !important ; }
.w27p { width:27% !important ; }
.w30p { width:30% !important ; }
.w33p { width:33% !important ; }
.w35p { width:35% !important ; }
.w37p { width:37% !important ; }
.w40p { width:40% !important ; }
.w45p { width:45% !important ; }
.w50p { width:50% !important ; }
.w55p { width:55% !important ; }
.w60p { width:60% !important ; }
.w65p { width:65% !important ; }
.w70p { width:70% !important ; }
.w75p { width:75% !important ; }
.w80p { width:80% !important ; }
.w85p { width:85% !important ; }
.w90p { width:90% !important ; }
.w95p { width:95% !important ; }
.w97p { width:97% !important ; }
.w98p { width:98% !important ; }
.w99p { width:99% !important ; }
.w100p { width:100% !important ; }


/** 02. height **/
.h1 { height:1px !important ; }
.h2 { height:2px !important ; }
.h3 { height:3px !important ; }
.h4 { height:4px !important ; }
.h5 { height:5px !important ; }
.h6 { height:6px !important ; }
.h7 { height:7px !important ; }
.h8 { height:8px !important ; }
.h9 { height:9px !important ; }
.h10 { height:10px !important ; }
.h15 { height:15px !important ; }
.h20 { height:20px !important ; }
.h22 { height:22px !important ; }
.h23 { height:23px !important ; }
.h24 { height:24px !important ; }
.h25 { height:25px !important ; }
.h26 { height:26px !important ; }
.h27 { height:27px !important ; }
.h28 { height:28px !important ; }
.h29 { height:29px !important ; }
.h30 { height:30px !important ; }
.h31 { height:31px !important ; }
.h32 { height:32px !important ; }
.h33 { height:33px !important ; }
.h34 { height:34px !important ; }
.h35 { height:35px !important ; }
.h36 { height:36px !important ; }
.h37 { height:37px !important ; }
.h38 { height:38px !important ; }
.h39 { height:39px !important ; }
.h40 { height:40px !important ; }
.h50 { height:50px !important ; }
.h80 { height:80px !important ; }
.h81 { height:81px !important ; }
.h82 { height:82px !important ; }
.h83 { height:83px !important ; }
.h84 { height:84px !important ; }
.h100 { height:100px !important ; }
.h110 { height:110px !important ; }
.h120 { height:120px !important ; }
.h130 { height:130px !important ; }
.h150 { height:150px !important ; }
.h170 { height:170px !important ; }
.h250 { height:250px !important ; }
.h450 { height:450px !important ; }
.h500 { height:500px !important ; }
.h600 { height:600px !important ; }
.h700 { height:700px !important ; }
.h800 { height:800px !important ; }
.h900 { height:900px !important ; }
.h100p { height:100% !important ; }
.hauto { height: auto !important ; }

/** 03-1. margin top **/
.-mT2 { margin-top:-2px !important ; }
.-mT5 { margin-top:-5px !important ; }
.-mT10 { margin-top:-10px !important ; }
.-mT15 { margin-top:-15px !important ; }
.mT0 { margin-top:0px !important ; }
.mT1 { margin-top:1px !important ; }
.mT2 { margin-top:2px !important ; }
.mT3 { margin-top:3px !important ; }
.mT4 { margin-top:4px !important ; }
.mT5 { margin-top:5px !important ; }
.mT6 { margin-top:6px !important ; }
.mT7 { margin-top:7px !important ; }
.mT8 { margin-top:8px !important ; }
.mT9 { margin-top:9px !important ; }
.mT10 { margin-top:10px !important ; }
.mT15 { margin-top:15px !important ; }
.mT16 { margin-top:16px !important ; }
.mT20 { margin-top:20px !important ; }
.mT25 { margin-top:25px !important ; }
.mT30 { margin-top:30px !important ; }
.mT40 { margin-top:40px !important ; }
.mT50 { margin-top:50px !important ; }
.mT100 { margin-top:100px !important ; }
.mT110 { margin-top:110px !important ; }
.mT120 { margin-top:120px !important ; }
.mT150 { margin-top:150px !important ; }
.mT160 { margin-top:160px !important ; }
.mT170 { margin-top:170px !important ; }
.mT200 { margin-top:200px !important ; }
.mT500 { margin-top:500px !important ; }

/** 03-2. margin bottom **/
.mB0 { margin-bottom:0 !important ; }
.mB1 { margin-bottom:1px !important ; }
.mB2 { margin-bottom:2px !important ; }
.mB3 { margin-bottom:3px !important ; }
.mB4 { margin-bottom:4px !important ; }
.mB5 { margin-bottom:5px !important ; }
.mB6 { margin-bottom:6px !important ; }
.mB7 { margin-bottom:7px !important ; }
.mB8 { margin-bottom:8px !important ; }
.mB9 { margin-bottom:9px !important ; }
.mB10 { margin-bottom:10px !important ; }
.mB11 { margin-bottom:11px !important ; }
.mB12 { margin-bottom:12px !important ; }
.mB13 { margin-bottom:13px !important ; }
.mB14 { margin-bottom:14px !important ; }
.mB15{ margin-bottom:15px !important ; }
.mB16{ margin-bottom:16px !important ; }
.mB17{ margin-bottom:17px !important ; }
.mB18{ margin-bottom:18px !important ; }
.mB19{ margin-bottom:19px !important ; }
.mB20 { margin-bottom:20px !important ; }
.mB25 { margin-bottom:25px !important ; }
.mB30 { margin-bottom:30px !important ; }
.mB40 { margin-bottom:40px !important ; }
.mB50 { margin-bottom:50px !important ; }
.mB60 { margin-bottom:60px !important ; }

/** 03-3. margin right **/
.mR0 { margin-right:0 !important ; }
.mR1 { margin-right:1px !important ; }
.mR2 { margin-right:2px !important ; }
.mR3 { margin-right:3px !important ; }
.mR4 { margin-right:4px !important ; }
.mR5 { margin-right:5px !important ; }
.mR6 { margin-right:6px !important ; }
.mR7 { margin-right:7px !important ; }
.mR8 { margin-right:8px !important ; }
.mR9 { margin-right:9px !important ; }
.mR10 { margin-right:10px !important ; }
.mR12 { margin-right:12px !important ; }
.mR14 { margin-right:14px !important ; }
.mR15{ margin-right:15px !important ; }
.mR20{ margin-right:20px !important ; }

/** 03-4. margin left **/
.mL0 { margin-left:0 !important ; }
.mL1 { margin-left:1px !important ; }
.mL2 { margin-left:2px !important ; }
.mL3 { margin-left:3px !important ; }
.mL4 { margin-left:4px !important ; }
.mL5 { margin-left:5px !important ; }
.mL6 { margin-left:6px !important ; }
.mL7 { margin-left:7px !important ; }
.mL8 { margin-left:8px !important ; }
.mL9 { margin-left:9px !important ; }
.mL10 { margin-left:10px !important ; }
.mL20 { margin-left:20px !important ; }
.mL25 { margin-left:25px !important ; }
.mL35 { margin-left:35px !important ; }
.mL70 { margin-left:70px !important ; }
.mL80 { margin-left:80px !important ; }
.mL90 { margin-left:90px !important ; }

/** 03-5. margin **/
.m0 { margin:0 !important ; }
.m1 { margin:1px !important ; }
.m2 { margin:2px !important ; }
.m3 { margin:3px !important ; }
.m4 { margin:4px !important ; }
.m5 { margin:5px !important ; }
.m6 { margin:6px !important ; }
.m7 { margin:7px !important ; }
.m8 { margin:8px !important ; }
.m9 { margin:9px !important ; }
.m10 { margin:10px !important ; }
.m15 { margin:15px !important ; }
.m20 { margin:20px !important ; }

/** 04-1. padding top **/
.pT0 { padding-top:0 !important ; }
.pT1 { padding-top:1px !important ; }
.pT2 { padding-top:2px !important ; }
.pT3 { padding-top:3px !important ; }
.pT4 { padding-top:4px !important ; }
.pT5 { padding-top:5px !important ; }
.pT6 { padding-top:6px !important ; }
.pT7 { padding-top:7px !important ; }
.pT8 { padding-top:8px !important ; }
.pT9 { padding-top:9px !important ; }
.pT10 { padding-top:10px !important ; }
.pT15 { padding-top:15px !important ; }
.pT20 { padding-top:20px !important ; }
.pT25 { padding-top:25px !important ; }
.pT30 { padding-top:30px !important ; }
.pT40 { padding-top:40px !important ; }
.pT50 { padding-top:50px !important ; }
.pT70 { padding-top:70px !important ; }
.pT80 { padding-top:80px !important ; }
.pT90 { padding-top:90px !important ; }
.pT100 { padding-top:100px !important ; }
.pT110 { padding-top:110px !important ; }
.pT128 { padding-top:128px !important ; }
.pT150 { padding-top:150px !important ; }


/** 04-2. padding left **/
.pL0 { padding-left:0 !important ; }
.pL1 { padding-left:1px !important ; }
.pL2 { padding-left:2px !important ; }
.pL3 { padding-left:3px !important ; }
.pL4 { padding-left:4px !important ; }
.pL5 { padding-left:5px !important ; }
.pL6 { padding-left:6px !important ; }
.pL7 { padding-left:7px !important ; }
.pL8 { padding-left:8px !important ; }
.pL9 { padding-left:9px !important ; }
.pL10 { padding-left:10px !important ; }
.pL15 { padding-left:15px !important ; }
.pL20 { padding-left:20px !important ; }
.pL30 { padding-left:30px !important ; }
.pL35 { padding-left:35px !important ; }
.pL40 { padding-left:40px !important ; }
.pL50 { padding-left:50px !important ; }
.pL60 { padding-left:60px !important ; }
.pL70 { padding-left:70px !important ; }


/** 04-3. padding right **/
.pR0 { padding-right:0 !important ; }
.pR1 { padding-right:1px !important ; }
.pR2 { padding-right:2px !important ; }
.pR3 { padding-right:3px !important ; }
.pR4 { padding-right:4px !important ; }
.pR5 { padding-right:5px !important ; }
.pR6 { padding-right:6px !important ; }
.pR7 { padding-right:7px !important ; }
.pR8 { padding-right:8px !important ; }
.pR9 { padding-right:9px !important ; }
.pR10 { padding-right:10px !important ; }
.pR20 { padding-right:20px !important ; }
.pR30 { padding-right:30px !important ; }
.pR40 { padding-right:40px !important ; }
.pR150 { padding-right:150px !important ; }
.pR200 { padding-right:200px !important ; }

/** 04-4. padding bottom **/
.pB1 { padding-bottom:1px !important ; }
.pB2 { padding-bottom:2px !important ; }
.pB3 { padding-bottom:3px !important ; }
.pB4 { padding-bottom:4px !important ; }
.pB5 { padding-bottom:5px !important ; }
.pB6 { padding-bottom:6px !important ; }
.pB7 { padding-bottom:7px !important ; }
.pB8 { padding-bottom:8px !important ; }
.pB9 { padding-bottom:9px !important ; }
.pB10 { padding-bottom:10px !important ; }
.pB15 { padding-bottom:15px !important ; }
.pB20 { padding-bottom:20px !important ; }
.pB30 { padding-bottom:30px !important ; }
.pB40 { padding-bottom:40px !important ; }



/** 04-5. padding  **/
.p0 { padding:0 !important ; }
.p1 { padding:1px !important ; }
.p2 { padding:2px !important ; }
.p3 { padding:3px !important ; }
.p4 { padding:4px !important ; }
.p5 { padding:5px !important ; }
.p6 { padding:6px !important ; }
.p7 { padding:7px !important ; }
.p8 { padding:8px !important ; }
.p9 { padding:9px !important ; }
.p10 { padding:10px !important ; }
.p15 { padding:15px !important ; }
.p20 {  padding:20px !important ; }



/** size css [ END ] **/

/** common [START] **/
/** 01 정렬 관련 **/
.fl-left { float:left !important ; }
.fl-right { float:right !important ; }
.clear-both { clear:both !important ; }

/** 02. overflow 관련 **/
.overflow-auto { overflow:auto !important ; }
.overflow-hide   { overflow:hidden !important ; }
.overflow-x-auto { overflow-x:auto !important ; }
.overflow-x-hide { overflow-x:hidden !important ; }
.overflow-y-auto { overflow-y:auto !important ; }
.overflow-y-hide { overflow-y:hidden !important ; }

/** 05 언어 및 폰트 관련 **/
.choice-eng-txt { ime-mode:inactive ; -webkit-ime-mode: inactive ; }            /** 기본 영문 **/
.choice-kor-txt { ime-mode:active ; -webkit-ime-mode: active ; }                /** 기본 국문 **/
.choice-normal-txt { ime-mode:auto ; -webkit-ime-mode: auto ; }             /** 한/영중 선택가능 **/
.choice-only-eng-txt { ime-mode:disabled ; -webkit-ime-mode: disabled ; }       /** 영문만 입력 가능 **/
.sp-chr { margin:0 ; padding:2px 5px 0 0; line-height:100% ; float:left ; color:#FFFFFF ; }     /** 특수문자 스타일 **/

.default-font { 
    font-family: "나눔바른고딕", "NanumBarunGothic", "돋움", "dotum",
        "Helvetica Neue", "Roboto", "Arial", "Droid Sans", sans-serif;
    letter-spacing: 0 !important;
    font-size:15px;
    font-weight:normal;
    padding:7px 10px 7px 10px;
}
.dotum { font-family:"돋움", "Dotum" ; }
.godic{ font-family:"맑은 고딕", "Malgun Gothic" ; }
.gulim { font-family:"굴림", "Gulim" ; }
.verdana{ font-family:"verdana" ; }
.tahoma{ font-family:"tahoma" ; }
.arial{ font-family:"arial" ; }

.fs10{ font-size:10px !important ; }
.fs11{ font-size:11px !important ; }
.fs12{ font-size:12px !important ; }
.fs13{ font-size:13px !important ; }
.fs14{ font-size:14px !important ; }
.fs15{ font-size:15px !important ; }
.fs20{ font-size:20px !important ; }
.fs30{ font-size:30px !important ; }

.fsEm1{ font-size:1em !important ; }
.fsEm15{ font-size:1.5em !important ; }
.fsEm2{ font-size:2em !important ; }
.fsEm25{ font-size:2.5em !important ; }

.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-align-center { text-align:center; }

.v-align-top { vertical-align:top; }
.v-align-middle { vertical-align:middle; }
.v-align-bottom { vertical-align:bottom; }

.font-bold { font-weight:bold; }
.font-normal { font-weight:normal; }

.font-text-white { color:#fff; }
.font-text-warning { color:#E24956; }
.font-text-point1 { color:#FF9000; }
.font-text-normal { color:#7F7F7F; }
.m-cnt { margin:0 auto; }

/** 06. border 관련 **/
.borderNon { border:none;  }
.border0 { border-width:0px; }
.borderL1 { border-left:1px solid #666666 !important ; }
.borderR1 { border-right:1px solid #666666 !important ; }
.borderT1 { border-top:1px solid #666666 ;  }
.borderB1 { border-bottom:1px solid #666666 !important ; }

.border-ced4da { border-color:#ced4da !important ; }
.border-dee2e6 { border-color:#dee2e6 !important ; }

/** 07. button 관련 **/
.btn, .btn-img { cursor:pointer !important ; }

/** 08. display 관련 **/
.display-none { display:none !important ; }
.display-show { display:block !important ; }

/** 09 rounded 관련 **/
.rounded03 { border-radius: 5px !important ; }
.rounded05 { border-radius: 5px !important ; }

.rounded025rem { border-radius: 0.25rem; }
.rounded045rem { border-radius: 0.45rem; }
/** common [ END ] **/



